<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/autoPlay.js"></script>
    <link rel="icon" href="/assets/images/foxycake.png">
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <title>Vendex | Home</title>

    <meta property="og:type" content="website">
    <meta content="Vendex" property="og:title" />
    <meta property="og:site_name" content="Vendex Website">
    <meta content="Oiii!! Meu nome é Foxy, eu sou um bot de economia para o Discord mas também tenho outras funções :D"
        property="og:description" />
    <meta content="https://foxywebsite.ml" property="og:url" />
    <meta content="#5865F2" data-react-helmet="true" name="theme-color" />
    <meta content="/assets/images/Foxy.png" property="og:image" />

</head>

<body>
    <header>
        <a class="logo" href="/"><img src="/assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">ToS</a></li>
                <li><a href="/discord">Support</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/commands">Commands</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
        <a class="cta" href="/dashboard">Dashboard</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/team">Team</a>
            <a href="/privacy">Terms of use</a>
        </div>
        </header>
    </div>
    <main>
        <img class="main__image" src="../assets/images/foxyoculos.png">
        <h1 class="title">Vendex</h1>
        <h3>Hi, I'm Vendex! A 100% Englis/Dutch economics and entertainment bot for your Discord server!</h3>
        <a href="/add"><button><img class="button__image" src="../assets/buttons/AddMember.png">To add</button></a>
        <a href="/discord"><button class="discord__button"><img class="button__image"
                    src="../assets/buttons/WhiteLogo.svg">Support</button></a>
        <a id="commands-mobile" href="/commands"><button>Commands</button></a>
        <a id="commands-mobile" href="https://discord.gg/PuvK9wD6TM"><button>Team</button></a>


    </main>
    <div class="features">
        <h1 class="title">Functionalities</h1>
        <p class="description">Some features and resources that Vendex has!</p>
        <div class="card-row">

            <div class="card">
                <h3 class="feature__title">Customizable Profile</h3>
                <br>
                <p>Vendex has a profile customization system where you can buy backgrounds, the
                Backgrounds are saved and you can change whenever you want!</p>
            </div>

            <div class="card">
                <h3 class="feature__title">Reputations</h3>
                <br>
                <p>With Vendex's reputation system you can give reputations to someone, exchange them with your friend or
                    sell reps</p>
            </div>

            <div class="card">
                <h3 class="feature__title">Premium</h3>
                <br>
                <p>Now you can buy premium at Vendex, earn + VendexCoins and other benefits</p>
            </div>
        </div>
    </div>

</body>

</html>