<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/header.css" type="text/css">
    <link rel="stylesheet" href="styles/footer.css" type="text/css">
    <link rel="stylesheet" href="styles/tos.css" type="text/css">
    <link rel="icon" href="/assets/images/foxycake.png">
    <title>Vendex | Terms of use</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="/assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">ToS</a></li>
                <li><a href="/discord">Support</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/commands">Commands</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
        <style>
            .sla {
                margin-left: 20px;
                padding: 9px 25px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                color: #fff;
                font-family: "Montserrat", sans-serif;
            }
        </style>
        <a class="cta" href="/">Dashboard</a>
        <p class="menu cta">Menu</p>
    </header>

    <main>
        <h1>Termos de uso</h1>
        <h3>
            <br>
            In short, you are responsible for what you do at Vendex with the commands, tarnishing Vendex's image
            using say to say things she would never say, please respect
            the platforms where Vendex is <a href="https://discord.com/terms">Discord Terms</a> e <a
                href="https://discord.com/guidelines">Discord Community Guidelines</a>, use the command
                dm from Vendex to commit spam acts, or evade blocks. you will not defame/damage the image of
                Vendex or the Vendex team.
            </br>
            <br>
            Spam and Bot Abuse If you spam commands or abuse any of our
            Either way, you will be blacklisted and banned from any of our services. Also the
            we'll add you to Discord banlists and let other bot developers know about you, and if you're a
            serious violation (such as: hacking, harassment and other violations), you may be banned from all servers in
            that Vendex is
            </br>
            <br>
            Developers reserve the right to remove Vendex from any server at any time. We can
            remove Vendex from a server for any reason, such as: (a) the group is abusing the bot, causing
            problems with him. (b) The Server is slandering the reputation of Vendex, Bis, Milk, Arthur, Win and
            ekus4s. or any
            one of the project collaborators. (c) We do not want our services to be associated with the server.
            </br>
        </h3>
    </main>

    <main class="main2">
        <h1>Privacy Policy</h1>
        <h3>
            In order for me to function normally, I need some information from you, other users on the
            Discord and your server too! See the information I collect:

            <br>
            <br>
            <br>
            <h1 style="font-size: 30px; color: rgb(224, 72, 72);">Seu conteúdo</h1>
            <br>
            <p>Commands that can be used to cause problems for Vendex, such as say, are recorded and sent to the
                                developers via Webhook</p>
            <br>
            <p>We record your ID, username and your server name for things like Daily, rep, checking if the
                server is VendexPartner, among others, we can also collect the region of your server to filter which
                countries use Vendex so Vendex may support more languages ​​in the future :D</p>
            <br>

            <br>

            <p>Example of improper use of commands:</p>
            <br>
            <img class="example" src="assets/images/eg.png">
            <br>
            <br>
            <p>How is it registered:</p>
            <br>
            <img class="example" src="assets/images/say.png">
        </h3>
    </main>

</body>

</html>